h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 700;
}

h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    padding: 50px;
    color: #ff3e46;
}

h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.nos-parrf h4 {
	margin-top: 6px;
	font-weight: bold;
}

/*Imagen centrada dentro del div*/
.img-wrapper > .img-centered {
	width: 260px;
	display: block;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.img-wrapper {
	vertical-align: middle;
}